.employer-review-card {
    margin-bottom: 1rem;
}

.verified {
    border: 2px solid lime;
}

.verified-employee-subheader {
    font-style: italic;
}

.employer-review-card-header {
    border-bottom: 1px solid #666;
}