$verified-color: lightblue;

.employer-review-card {
    margin-bottom: 1rem;
}

.verified {
    border: 2px solid $verified-color;
}

.verified-employee-subheader {
    font-style: italic;
}

.employer-review-card-header {
    border-bottom: 1px solid #666;
}

.verified-text {
    color: $verified-color;
}