$padding: 10px;

.jobs-list-item {
    .jobs-card-header {
        background-color: #3eb40d;
        color: #222;
        padding: $padding;
        
        a {
            color: #222;
        }
    }

    .MuiCardHeader-title {
        font-size: 1rem;
        font-weight: bold;
    }

    .MuiCardHeader-subheader {
        font-size: .85rem;
    }

    .jobs-card-content {
        padding: $padding;
    }

    .jobs-card-actions {
        padding: $padding;
        font-size: .25rem;

        time {
            cursor: help;
            border-bottom: 1px dotted #ddd; 
        }
    }

    .MuiCardHeader-subheader {
        color: #121212;
    }
}

