$padding: 10px;
$textColor: #fff;

.jobs-list-item {
    margin-bottom: 1rem;

    mark {
        background-color: lime;
        padding: 5px;
    }

    .job-location {
        color: $textColor;
    }

    .jobs-card-header {
        background-color: #2d3a85;
        color: #222;
        padding: $padding;
        
        a {
            color: $textColor;
        }
    }

    .jobs-salary-range-area {
        padding: $padding;
        margin-bottom: 5px;
    }

    .MuiCardHeader-title {
        font-size: 1rem;
        font-weight: bold;
    }

    .MuiCardHeader-subheader {
        font-size: .85rem;
    }

    .jobs-card-content {
        padding: $padding;
    }

    .jobs-card-actions {
        padding: $padding;
        font-size: .25rem;

        time {
            cursor: help;
            border-bottom: 1px dotted #ddd; 
        }
    }

    .MuiCardHeader-subheader {
        color: #121212;
    }
}

.job-desc-wrapper {
    padding: 0 1rem 0 0;
    line-height: 1.5;
    min-height: 200px;
}

.job-info-table {
    .see-reviews-button {
        padding-left: .25rem;
    }

    tr:last-child > td {
        border-bottom: 0;
    }
    
    .job-table-left-col {
        width: 40%;
        vertical-align: top;
    }
}

.jobs-header-action-area {
    button {
        margin-right: .5rem;

        &:last-child {
            margin-right: 0;
        }
    }
}

.employer-add-review-dialog {
    min-width: 600px;

    .MuiAlert-root {
        margin-bottom: 1rem;
    }
}

.new-review-body {
    display: block;
    margin: .5rem 0 .5rem 0;
    width: 100%;
    padding: .5rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}