.search-area {
    margin-bottom: 1rem;

    form {
        display: flex;
        width: 100%;
    }
}

.search-query-indicator-text-area {
    padding-left: 1rem;
    align-items: flex-end;
    display: flex;
}

.tag-picker {
    max-height: 65px;
    overflow-y: scroll;
    width: 300px;
}

.search-second-row {
    padding-top: 1rem;
}

.post-date-filter-select {
    width: 180px;
}