.search-area {
    margin-bottom: 1rem;

    form {
        display: flex;
        width: 100%;
    }
}

.search-query-indicator-text-area {
    padding-left: 1rem;
    align-items: flex-end;
    display: flex;
}
