.employer-list-page-card {
    a {
        color: pink;

        &.avatar-link {
            color: #000;
            text-decoration: none;
        }
    }
}

.employer-list-job-count-badge {
    margin-left: 1rem;
}

.post-new-job-dialog {
    width: 700px;
    margin: 0 auto;
}

.verify-dialog {
    .verify-dialog-content {
        height: 200px;
        /* Override MaterialUI */
        padding-top: 1rem !important;

        .MuiFormControlLabel-root {
            margin: 0;
        }
    }
}

.autocomplete-wrapper {
    margin-bottom: 1rem;

    
}