.employer-list-page-card {
    a {
        color: pink;

        &.avatar-link {
            color: #000;
            text-decoration: none;
        }
    }
}

.employer-list-job-count-badge {
    margin-left: 1rem;
}

.post-new-job-dialog {
    width: 700px;
    margin: 0 auto;
}
